<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-title">
            <h2>Edição de artigo</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/admin/articles/update">
                <h3>Título do artigo: <%= article.title %> </h3>
                <input class="form-control" type="text" name="title" placeholder="Escreva o novo título"><br>
                <textarea class="form-control" name="body" id="article"><%- article.body %></textarea><br>
                <label>Categoria</label>
                <select name="category" class="form-select">
                <% categories.forEach((category) => { %>
                    <% if(category.id == article.categoryId) { %>
                        <option value="<%= category.id %>" selected><%= category.title %></option>
                    <%} else { %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% } %>
                <% }) %>    
            </select>
            <input type="hidden" name="id" value="<%= article.id %>"> 
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: '#article', 
        plugins: 'lists advlist preview link autolink image print hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    })
</script>